<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sideproject.shop.mappers.ProductMapper">

    <select id="productList" parameterType="hashmap" resultType="com.sideproject.shop.product.Product">
        SELECT PRODUCT.ID
            , NAME
            , PRICE
            , CATEGORY_CODE
            , CATEGORIES.CODE_NAME AS CATEGORY_NAME
            , HIT
            , STOCK
            , IMAGE AS THUMBNAIL
            , INSERT_DATE
        FROM   PRODUCT
        LEFT JOIN COMMON_CODE CATEGORIES
        ON     CATEGORIES.CODE_GROUP1 = 'CATEGORY'
        AND    CATEGORIES.CODE_GROUP2 = 'CATEGORY'
        AND    CATEGORIES.CODE = CATEGORY_CODE
        LEFT JOIN PRODUCT_IMAGE IMAGE
        ON     IMAGE.ID = PRODUCT.ID
        AND    IMAGE.SEQ = 1
        WHERE  1 = 1
        AND    CATEGORY_CODE = #{P_CATEGORY}
        ORDER BY
        <choose>
            <when test="P_ORDER == 1" >HIT DESC</when>
            <when test="P_ORDER == 2" >PRICE ASC</when>
            <when test="P_ORDER == 3" >PRICE DESC</when>
            <when test="P_ORDER == 4" >INSERT_DATE DESC</when>
            <otherwise>PRODUCT.ID ASC</otherwise>
        </choose>
        LIMIT #{P_START}, #{P_VIEW_NUM}
    </select>

    <update id="updateProductHit" parameterType="hashmap" >
        UPDATE PRODUCT
        SET    HIT = HIT + 1
        WHERE  ID = #{P_PRODUCT_ID}
    </update>

    <select id="getProduct" parameterType="hashmap" resultType="com.sideproject.shop.product.Product">
        SELECT ID
               , NAME
               , PRICE
               , CATEGORY_CODE
               , CATEGORIES.CODE_NAME AS CATEGORY_NAME
               , SIZEINFO
               , CONTENT
               , HIT
               , STOCK
               , INSERT_DATE
        FROM   PRODUCT
        LEFT JOIN COMMON_CODE CATEGORIES
        ON     CATEGORIES.CODE_GROUP1 = 'CATEGORY'
        AND    CATEGORIES.CODE_GROUP2 = 'CATEGORY'
        AND    CATEGORIES.CODE = CATEGORY_CODE
        WHERE  ID = #{P_PRODUCT_ID}
    </select>

    <select id="productImageList" parameterType="hashmap" resultType="String">
        SELECT IMAGE
        FROM   PRODUCT_IMAGE
        WHERE  ID = #{P_PRODUCT_ID}
        ORDER BY SEQ ASC
    </select>

    <select id="productSizeList" parameterType="hashmap" resultType="String">
        SELECT COMMON.CODE_NAME
        FROM   PRODUCT_SIZE SIZES
        INNER JOIN COMMON_CODE COMMON
        ON     COMMON.CODE_GROUP1 = 'SIZE'
        AND    COMMON.CODE_GROUP2 = SIZES.CATEGORY_CODE
        AND    COMMON.CODE = SIZES.SIZE_CODE
        WHERE  SIZES.ID = #{P_PRODUCT_ID}
    </select>

    <insert id="insertProduct" parameterType="hashmap" >
        <selectKey resultType="int" keyProperty="ID" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>

        INSERT INTO PRODUCT (
            NAME
            , PRICE
            , CATEGORY_CODE
            , SIZEINFO
            , CONTENT
            , STOCK
        ) VALUES (
            #{P_NAME}
            , #{P_PRICE}
            , #{P_CATEGORY_CODE}
            , #{P_SIZEINFO, jdbcType=VARCHAR}
            , #{P_CONTENT, jdbcType=VARCHAR}
            , #{P_STOCK}
        )
    </insert>

    <insert id="insertProductImage" parameterType="hashmap" >
        INSERT INTO PRODUCT_IMAGE (
            ID
            , SEQ
            , IMAGE
        ) VALUES (
            #{P_ID}
            , #{P_SEQ}
            , #{P_IMAGE}
        )
    </insert>

    <insert id="insertProductSize" parameterType="hashmap" >
        INSERT INTO PRODUCT_SIZE (
            ID
            , CATEGORY_CODE
            , SIZE_CODE
        ) VALUES (
            #{P_ID}
            , #{P_CATEGORY_CODE}
            , #{P_SIZE}
        )
    </insert>
</mapper>